<%- layout("layouts/boilerplate") %> 

<h1> Welcome to ECE Buddy! </h1>

<h4> Tools: </h4>
<ul>
    <li> <a href="/tools/baseconverter"> Base converter </a> </li>
    <li> <a href="/tools/2cmpconverter"> 2's Complement Converter </a> </li>
    <li> <a href="/tools/calculator"> Calculator </a> </li>
    <li> <a href=""> Floating Point Converter </a> </li>
    <li> <a href=""> Truth Table </a> </li>
    <li> <a href=""> LC3 Helper </a> </li>
</ul>